
<h2>Test1Component</h2>
<h3>Getting Data from Test1Component : {{getParentFullName}}</h3>
<h3>Getting Data from Test1Component : {{getParentCompany}}</h3>
<h3>Getting Data from Test1Component : {{getParentLocation}}</h3>

<button (click)='passDataFromChild()'>Pass Data From Child</button>

<app-parent-component></app-parent-component>

<!--<h2>Test1Component</h2>
<h3>Value is displayed from Test1Component is: {{getParentFullName}}</h3>
<h3>Value is displayed from Test1Component is: {{getParentCompany}}</h3>
<h3>Value is displayed from Test1Component is: {{getParentLocation}}</h3>

<table>
  <tr>
    <th>Employee FullName</th>
    <th>Company Name</th>
    <th>Location</th>
  </tr>

  <tr *ngFor='let emp of getParentList'>
    <td>{{emp.employeeId}}</td>
    <td>{{emp.employeeName}}</td>
    <td>{{emp.companyName}}</td>
    <td>{{emp.Location}}</td>
    <td>{{emp.PhoneNumber}}</td>
  </tr>
</table>

<button (click)='passDataFromChild()'>Pass Data From Child to Parent</button>-->


